<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category Details</title>
</head>
<body>
<h1>Category Details</h1>

<!--<table border="1">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>Brand Name</th>-->
<!--        <th>Picture</th>-->
<!--    </tr>-->
<!--    </thead>-->

<!--    <tbody>-->
<!--    <tr th:each="brand : ${brands}">-->
<!--        <td>-->
<!--            <a th:href="@{/brands/{id}/view(id=${brand.id})}" th:text="${brand != null ? brand.name : ''}"-->
<!--               style="text-decoration: none"></a>-->
<!--        </td>-->
<!--        <td>-->
<!--            <img th:href="@{/brands/{id}/view(id=${brand.id})}" th:if="${brand != null}" th:src="${brand.imgURL}"-->
<!--                 alt=""/>-->
<!--        </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->

<br>


<table border="1">
    <tr>
        <td colspan="2">
            <h2>List product of this category</h2>
            <table border="1">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Picture</th>
                    <th>Category</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product != null ? product.name : ''}"></td>
                    <td th:text="${product != null ? product.description : ''}"></td>
                    <td th:text="${product != null ? product.price : ''}"></td>
                    <td>
                        <img th:if="${product != null}" th:src="${product.imgURL}" alt=""/>
                    </td>
                    <td th:text="${product != null ? product.category.name : ''}"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
</body>
</html>