<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
<div class="cart-header">
    <div class="cart-header-container">
        <div class="cart-header-container-row">
            <div class="cart-header-container-row-left">
                <div class="cart-header-container-row-left-title">
                    <a href="#" style="text-decoration: none">Kênh người bán</a>
                </div>
                <div class="line"></div>
                <div class="cart-header-container-row-left-title-rel inline-block">
                    <a href="https://banhang.shopee.vn/"
                       class="navbar__left--link   text-white hover:opacity-70 pr-4 pl-4">
                        Tải ứng dụng
                    </a>
                    <div class="subnav__download navbar__subnav hidden absolute top-12 left-2 p-2 w-72 bg-white box-border animate-fadeIn z-20">
                        <a href="https://shopee.vn/web" target="_blank">
                            <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/d91264e165ed6facc6178994d5afae79.png"
                                 alt="download_qr_code" class="subnav__download--qrcode">
                            <div class="flex flex-wrap sm:flex-no-wrap justify-between items-center p-4">
                                <img src="/resources/image/ios.png" class="w-28 w-full sm:w-1/2 mb-4 pr-3" alt="">
                                <img src="/resources/image/android.png" class="w-28 w-full sm:w-1/2 mb-4" alt="">
                                <div class="w-full mb-4">
                                    <img src="/resources/image/appgallery.png" class="w-28" alt="">
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
                <div class="line"></div>
                <div class="cart-header-container-row-left-title">
                    <a href="#" style="text-decoration: none">Kết nối</a>
                </div>
                <div class="cart-header-container-row-left-icon">
                    <div class="navbar__left--item">
                        <a href="https://facebook.com/ShopeeVN" class="row__left--icon fab fa-facebook"
                           title="Kết nối Facebook"></a>
                        <a href="https://instagram.com/Shopee_VN" class="row__left--icon fab fab fa-instagram"
                           title="Kết nối Instagram"></a>
                    </div>
                </div>
            </div>
            <div class="cart-header-container-row-right">
                <div class="cart-header-container-row-right-title">
                    <i class="fa-regular fa-bell" style="padding-left: 3px"></i> Thông báo
                </div>
                <div class="cart-header-container-row-right-title">
                    <i class="fas fa-question-circle" style="padding-left: 3px"></i> Hỗ trợ
                </div>
                <div class="cart-header-container-row-right-title-rel">
                    <a href="https://shopee.vn/user/purchase/" class="usermode__log">
                        <img class="usermode--uicon" src="/resources/image/User-Avatar-PNG-Transparent-Image.png"
                             alt="">
                        <p class="navbar__right--link usermode--name " style="font-size: 1.4rem;">Đình Hiếu</p>
                    </a>
                    <ul class="usermode__menu navbar__subnav">
                        <li class="usermode__menu--item">
                            <a href="https://shopee.vn/user/account/">Tài khoản của tôi</a>
                        </li>
                        <li class="usermode__menu--item">
                            <a href="https://shopee.vn/user/purchase/">Đơn mua</a>
                        </li>
                        <li class="usermode__menu--item">
                            <a href="">Đăng xuất</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="cart-title">
    <div class="cart-title-container">
        <div class="cart-title-container-left">
            <div class="px-2 md:px-15 mt-[-5px]">
                <a href="https://shopee.vn/" class="flex items-end text-white no-underline mr-5">
                    <i class="fab fa-shopify text-8xl md:text-8xl" style="color: #ee4d2d"></i>
                    <div class="pl-2 text-6xl whitespace-nowrap md:block pb-4" style="color:#ee4d2d">Smart-Shop</div>
                </a>
            </div>
            <div class="cart-title-container-left-text">
                <p>Giỏ hàng</p>
            </div>
        </div>
        <div class="cart-title-container-right">
            <div class="cart-title-container-right-content">
                <input class="cart-title-container-right-searchBar" type="text"/>
                <div class="cart-title-container-right-searchIcon">
                    <i class="fa-solid fa-magnifying-glass" style="color:white;font-size:14px" aria-hidden="true"></i>                </div>
            </div>
        </div>
    </div>
</div>
<div class="cart-body">
    <div class="cart-body-container">
        <div class="cart-body-container-page-header">
            <div class="cart-body-container-page-header-select">
                <input type="checkbox" id="product" name="product">
            </div>
            <div class="cart-body-container-page-header-productName">Sản phẩm</div>
            <div class="cart-body-container-page-header-unitPrice">Đơn giá</div>
            <div class="cart-body-container-page-header-quantity">Số lượng</div>
            <div class="cart-body-container-page-header-totalPrice">Số tiền</div>
            <div class="cart-body-container-page-header-action">Thao tác</div>
        </div>
        <span id="cart-empty"></span>

        <div class="cart-body-container-page-content" th:each="cartItem : ${cart.getCart()}">
            <div class="cart-body-container-page-content-row header">
                <div class="cart-body-container-page-content-row-shopName">
                    Bestwish Tech Ⓡ Official Store
                </div>
            </div>
            <div class="cart-body-container-page-content-row content">
                <div class="cart-body-container-page-header-select content">
                    <input type="checkbox" onclick="chooseItem(event)" data-th-id="${cartItem.product.id}" name="product">
                </div>
                <div class="cart-body-container-page-header-productName content">
                    <img
                            class="cart-body-container-page-header-productName-img"
                            th:src="${cartItem.product.getImgURL()}"
                            alt=""
                    />
                    <p class="cart-body-container-page-header-productName-text"  th:text="${cartItem.product.name}">
                                     </p>
                </div>
                <div class="cart-body-container-page-header-unitPrice content" ${cartItem.product.price}>₫235.000</div>
                <div class="cart-body-container-page-header-quantity content">
                    <div class="cart-body-container-page-header-quantity-container">
                        <button class="hover-effect" onclick="desItem(event)" type="button">-</button>
                        <input
                                type="text"
                                name="quantity"
                                onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                oninput="validateQuantity(event)"
                                onchange="changeQuantity(event)"
                                th:value="${cartItem.quantity}"
                                value="1"
                        />
                        <button type="button" class="hover-effect"  onclick="incItem(event)">+</button>
                    </div>
                </div>
                <div class="cart-body-container-page-header-totalPrice content" style="color:#ee4d2d" th:text="${cartItem.product.price}">

                </div>
                <div class="cart-body-container-page-header-action content">
                    <button class="delete-button" onclick="deleteItem()">Xóa</button>
                </div>

            </div>
        </div>

        <div class="cart-body-container-footer">
            <div class="cart-body-container-footer-container">
                <div class="cart-body-container-footer-container-cartTotalMoney">
                    <p
                            class="cart-body-container-footer-container-cartTotalMoney-info"
                    >
                        Tổng thanh toán (0 Sản phẩm):
                    </p>
                    <p
                            class="cart-body-container-footer-container-cartTotalMoney-money"
                            id="cartTotalPrice" th:text="${cart.getTotalPrice()}"
                    >

                    </p>
                </div>
                <div class="cart-body-container-footer-container-payment">
                    <button type="button" onclick="checkout()">Mua Hàng</button>
                </div>
            </div>
        </div>
    </div>

</div>
<footer th:replace="footer_main::footer"></footer>

<script>
    function validateInput() {
        let inputElement = document.getElementById('quantity');
        let inputValue = inputElement.value;
        if (inputValue.length === 1 && inputValue[0] === '0') {
            inputElement.value = '';
        }
    }
    function desItem(event) {
        let button = event.target;
        let currentNode = button.closest('.cart-body-container-page-content-row');
        let currentQuantity = parseInt(currentNode.querySelector('.cart-body-container-page-header-quantity-container input').value, 10);
        updateQuantity(event, currentQuantity - 1);
    }
    function incItem(event) {
        let button = event.target;
        let currentNode = button.closest('.cart-body-container-page-content-row');
        let currentQuantity = parseInt(currentNode.querySelector('.cart-body-container-page-header-quantity-container input').value, 10);
        updateQuantity(event, currentQuantity + 1);
    }
    function deleteItem(event) {
        updateQuantity(event, 0);
    }
    function changeQuantity(event) {
        let button = event.target;
        let currentNode = button.closest('.cart-body-container-page-content-row');
        let newQuantity = currentNode.querySelector('.cart-body-container-page-header-quantity-container input').value;
        updateQuantity(event, newQuantity);
    }
    function validateQuantity(event) {
        let button = event.target;
        let currentNode = button.closest('.cart-body-container-page-content-row');
        let inputNode = currentNode.querySelector('.cart-body-container-page-header-quantity-container input');
        let inputValue = inputNode.value;
        inputValue = inputValue.replace(/\D/g, '');
        inputValue = inputValue.replace(/^0+/, '');
        inputNode.value = inputValue;
    }
    function updateQuantity(event, quantity) {
        let button = event.target;
        let currentNode = button.closest('.cart-body-container-page-content-row'); // Sử dụng '.cart-body-container-page-content-row' thay vì 'tr'
        let id = currentNode.querySelector('.cart-body-container-page-header-productName-text').textContent.trim(); // Sử dụng '.cart-body-container-page-header-productName-text' thay vì 'td:nth-child(2)'

        if (quantity > 0) {
            $.ajax({
                type: "PUT",
                url: `http://localhost:8080/api/cart/` + id + `?quantity=` + quantity,
                success: function (data) {
                    let row = currentNode.querySelector('.cart-body-container-page-header-quantity-container input'); // Sử dụng '.cart-body-container-page-header-quantity-container input' thay vì 'td:nth-child(6) label input'
                    row.value = data;
                    let unitPrice = parseFloat(currentNode.querySelector('.cart-body-container-page-header-unitPrice').textContent.trim()); // Sử dụng '.cart-body-container-page-header-unitPrice' thay vì 'td:nth-child(5)'
                    let totalPriceNode = currentNode.querySelector('.cart-body-container-page-header-totalPrice'); // Sử dụng '.cart-body-container-page-header-totalPrice' thay vì 'td:nth-child(7)'
                    let newTotalPrice = unitPrice * data;
                    totalPriceNode.textContent = newTotalPrice;
                    updateCartTotalPrice();
                },
                error: function (error) {
                    console.error("Error updating quantity: " + error);
                }
            });
        } else {
            $.ajax({
                type: "DELETE",
                url: `http://localhost:8080/api/cart/` + id,
                success: function (data) {
                    console.log("delete success" + data);
                    currentNode.remove();
                    updateCartTotalPrice();
                },
                error: function (error) {
                    console.error("Error delete cart item: " + error);
                }
            });
        }
    }

    let items = [];

    function chooseItem(event) {
        let checkbox = event.target;

        if (checkbox.checked) {
            let currentNode = checkbox.closest('.cart-body-container-page-content-row');
            let idElement = currentNode.querySelector('.cart-body-container-page-header-productName-text'); // Sử dụng '.cart-body-container-page-header-productName-text' thay vì 'td:nth-child(2)'

            if (idElement) {
                let id = idElement.textContent.trim();

                if (!items.includes(id)) {
                    items.push(id);
                    console.log("Added to cart - Item ID: " + id);
                } else {
                    items = items.filter(item => item !== id);
                    console.log("Removed from cart - Item ID: " + id);
                }
            }
        }
    }
    function checkout() {
        console.log("cart list: " + items);

        if (isCartPayEmpty() && items.length === 0) {
            document.getElementById("cart-empty").innerHTML = "No things to check out";
        } else {
            document.getElementById("cart-empty").innerHTML = "";
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-type': 'application/json'
                },
                type: 'POST',
                data: JSON.stringify({items: items}),
                url: `http://localhost:8080/api/checkout`,
                success: function () {
                    window.location.href = '/user/checkout';
                    console.log('send data success')
                },
                error: function () {
                    console.log('send data fail')
                }
            })
        }

    }

    function isCartPayEmpty() {
        return $.ajax({
            type: 'GET',
            url: 'http://localhost:8080/api/checkout/checkCartPay'
        })
            .then(function (data) {
                return data === true;
            })
            .catch(function () {
                console.log("can not check cart pay");
                return false;
            });
    }
</script>
</body>
</html>