<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="login-header">
    <div class="login-header-bar">
        <div class="login-bar-item">
            <a href="https://shopee.vn/" class="flex items-end text-white no-underline mr-5">
                <i class="fab fa-shopify text-7xl md:text-6xl" style="color: #ee4d2d"></i>
                <div class="pl-2 text-xs md:text-4xl whitespace-nowrap  md:block mb-3" style="color: #ee4d2d">
                    Smart-Shop
                </div>
            </a>
            </a>
            <div class="login-item-link">
                <p class="register-text">Đăng ký</p>
            </div>
        </div>
        <div class="login-bar-item">
            <a href="" class="register-header-bar-item-need-help"
            >Bạn cần giúp đỡ?</a
            >
        </div>
    </div>
</div>

<div class="login-container">
    <div class="login-container-content">
        <div class="login-content-item">
            <div class="login-container-item-1-top">
                <div class="login-container-item-1-top-logo">
                    <img src="/resources/image/shopee-icon-white.png" alt="Logo">
                </div>
            </div>
            <div class="login-container-item-1-bottom">
                <div class="login-container-item-1-bottom-text">
                    Nền tảng thương mại điện tử <br/>
                    yêu thích ở Đông Nam Á & Đài Loan
                </div>
            </div>
        </div>

        <div class="login-content-item login-content-item-2">
            <form th:action="@{/register/save}" class="register-content-item-2-form" method="post" th:object="${user}" id="myForm">
                <div class="register-content-item-2-form-header">
                    <div class="register-container-content-item-2-form-header-item1">
                        Đăng Ký
                    </div>
                </div>
                <div class="register-container-content-item-2-form-body">
                    <div class="register-container-content-item-2-form-body-item-1">
                        <input type="text" name="username" class="login-container-content-item-2-form-body-item-1-inputText" placeholder="Username" required th:field="*{username}" onchange="checkUsername()"/>
                        <span id="username-error"></span>
                        <span th:if="${#fields.hasErrors()}" th:errors="*{username}"></span>
                        <input type="email" name="email" class="login-container-content-item-2-form-body-item-1-inputText" placeholder="Email" required  id="email" th:field="*{email}" onchange="checkEmail(); validateEmail()" />
                        <span id="email-error1"></span>
                        <span id="email-error2"></span>
                        <span th:if="${#fields.hasErrors()}" th:errors="*{email}"></span>
                        <div class="login-container-content-item-2-form-body-item-1-passwordBox">
                            <input type="password" class="login-container-content-item-2-form-body-item-1-inputPassword" placeholder="Mật khẩu" name="login-password" id="passwordInput" th:field="*{password}" min="8" max="30" onchange="checkPass()" required  />
                            <div class="login-container-content-item-2-form-body-item-1-inputPassword-eyeIcon" onclick="togglePasswordVisibility()">
                                <div class="login-container-content-item-2-form-body-item-1-inputPassword-openEyeIcon"></div>
                            </div>
                            <span id="password-error"></span>
                            <span th:if="${#fields.hasErrors()}" th:errors="*{password}"></span>
                        </div>
                        <input type="number" name="phoneNumber" class="login-container-content-item-2-form-body-item-1-inputText" placeholder="phoneNumber" id="phoneNumber" th:field="*{phoneNumber}" onchange="checkPhoneNumber(); validatePhone()" required />
                        <span id="phone-number-error1"></span>
                        <span id="phone-number-error2"></span>
                        <span th:if="${#fields.hasErrors()}" th:errors="*{phoneNumber}"></span>
                        <input type="text" name="address" class="login-container-content-item-2-form-body-item-1-inputText" placeholder="Address" th:field="*{address}" required />
                        <span id="address-number-error"></span>
                        <span th:if="${#fields.hasErrors()}" th:errors="*{address}"></span>
                        <button type="submit" class="login-container-content-item-2-form-body-item-1-submitLogin">
                            ĐĂNG KÝ
                        </button>
                    </div>
                    <div class="login-container-content-item-2-form-body-item-2">
                        <div class="login-container-content-item-2-form-body-item-2-top">
                            <a href="#" class="login-container-content-item-2-form-body-item-2-top-item">Quên mật khẩu</a>
                            <a href="#" class="login-container-content-item-2-form-body-item-2-top-item">Đăng nhập với SMS</a>
                        </div>
                        <div class="login-container-content-item-2-form-body-item-2-middle">
                            <div class="login-container-content-item-2-form-body-item-2-middle-side"></div>
                            <div class="login-container-content-item-2-form-body-item-2-middle-center">
                                HOẶC
                            </div>
                            <div class="login-container-content-item-2-form-body-item-2-middle-side"></div>
                        </div>
                        <div class="login-container-content-item-2-form-body-item-2-bottom">
                            <a href="#" class="login-container-content-item-2-form-body-item-2-bottom-loginByFB">
                                <div class="login-container-content-item-2-form-body-item-2-bottom-loginByFB-icon">
                                    <img src="/resources/image/facebook-icon.png" alt="Facebook Icon">
                                </div>
                                <div class="login-container-content-item-2-form-body-item-2-bottom-loginByFB-text">
                                    Facebook
                                </div>
                            </a>
                            <a href="#" class="login-container-content-item-2-form-body-item-2-bottom-loginByGG">
                                <div class="login-container-content-item-2-form-body-item-2-bottom-loginByGG-icon">
                                    <img src="/resources/image/Google-icon.png" alt="Google Icon" class="icon-img">
                                </div>
                                <div class="login-container-content-item-2-form-body-item-2-bottom-loginByGG-text">
                                    Google
                                </div>
                            </a>
                        </div>
                        <div class="register-container-content-item-2-form-body-item-2-top">
                            <p class="register-container-content-item-2-form-body-item-2-top-item">
                                Bằng việc đăng kí, bạn đã đồng ý với Shopee về <br />
                                <a class="register-container-content-item-2-form-body-item-2-top-item-link" href="https://help.shopee.vn/portal/article/77243">Điều khoản dịch vụ</a>
                                &
                                <a class="register-container-content-item-2-form-body-item-2-top-item-link" href="https://help.shopee.vn/portal/article/77244">Chính sách bảo mật</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="login-container-content-item-2-form-footer">
                    <div class="login-container-content-item-2-form-footer-text">
                        Bạn dã có tài khoản?
                        <a href="http://127.0.0.1:5500/register.html" class="login-container-content-item-2-form-footer-text-registerLink">Đăng Nhập</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="footer_main::footer"></footer>
<script>
    function checkPass() {
        let pass = document.getElementById("passwordInput").value;
        if (pass.length < 8 || pass.length > 30) {
            document.getElementById("password-error").innerHTML = "Password between 8 and 30";
            return false;
        } else {
            document.getElementById("password-error").innerHTML = "";
            return true;
        }
    }

    function validateEmail() {
        let emailInput = document.getElementById('email');
        let emailValue = emailInput.value;

        let emailRegex = /^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/;
        if (emailRegex.test(emailValue)) {
            document.getElementById('email-error1').innerHTML = "";
            return true;
        } else {
            document.getElementById('email-error1').innerHTML = 'Invalid email';
            return false;
        }
    }


    function validatePhone() {
        let phoneInput = document.getElementById('phoneNumber');
        let phoneValue = phoneInput.value;
        let phoneRegex = /^(0[35789])+([0-9]{8})$/;

        if (!phoneRegex.test(phoneValue)) {
            document.getElementById('phone-number-error1').innerHTML = 'Invalid phone number';
            return false;
        } else {
            document.getElementById('phone-number-error1').innerHTML = "";
            return true;
        }

    }
    function checkUsername() {
        let username = $("#username").val();
        $.ajax({
            type: "GET",
            url: `http://localhost:8080/api/users/checkUsername/${username}`,
            success: function (data) {
                if (data === "true") {
                    document.getElementById("username-error").innerHTML = "Username is already existed"
                } else {
                    document.getElementById("username-error").innerHTML = "";
                }
            }
        })
    }

    function checkEmail(data) {
        let email = $("#email").val();
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/api/users/checkUsername/" + email,
            success: function (data) {
                if (data === "true") {
                    document.getElementById("email-error2").innerHTML = "Email is already existed";
                } else {
                    document.getElementById("email-error2").innerHTML = "";
                }
            }
        })
    }

    function checkPhoneNumber() {
        let phoneNumber = $("#phoneNumber").val();
        $.ajax({
            type: "GET",
            url:  `http://localhost:8080/api/users/checkUsername/` + phoneNumber,
            success: function (data) {
                if (data === "true") {
                    document.getElementById("phone-number-error2").innerHTML = "Phone number is already existed"
                } else {
                    document.getElementById("phone-number-error2").innerHTML = "";
                }
            }
        });
    }

    document.getElementById("myForm").addEventListener("submit", function(event) {
        event.preventDefault();
        let phoneError = document.getElementById("phone-number-error2").innerText;
        let emailError = document.getElementById("email-error2").innerText;
        let usernameError = document.getElementById("username-error").innerText;
        console.log("phone error " + phoneError);
        console.log("emailError " + emailError);
        console.log("usernameError " + usernameError);
        console.log("validate email " + validateEmail());
        console.log("validate phone " + validatePhone());
        if (validateEmail() && validatePhone() && phoneError==="" && emailError==="" && usernameError === "") {
            this.submit();
        }
    });
</script>
</body>
</html>