<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment="footer">
    <div class="footer">
        <div class="grid">
            <div class="footer__app--space"></div>
            <div class="grid__row footer__app">
                <div class="grid__column-3 ss-grid__column-6">
                    <div class="footer__app--title">CHĂM SÓC KHÁCH HÀNG</div>
                    <ul class="footer__app--list">
                        <li><a href="" class="footer__app--item">Trung Tâm Trợ Giúp</a></li>
                        <li><a href="" class="footer__app--item">Shopee Blog</a></li>
                        <li><a href="" class="footer__app--item">Shopee Mall</a></li>
                        <li><a href="" class="footer__app--item">Hướng Dẫn Mua Hàng</a></li>
                        <li><a href="" class="footer__app--item">Thanh Toán</a></li>
                        <li><a href="" class="footer__app--item">Shopee Xu</a></li>
                        <li><a href="" class="footer__app--item">Vận Chuyển</a></li>
                        <li><a href="" class="footer__app--item">Trả Hàng & Hoàn Tiền</a></li>
                        <li><a href="" class="footer__app--item">Chăm Sóc Khách Hàng</a></li>
                        <li><a href="" class="footer__app--item">Chính Sách Bảo Hành</a></li>
                    </ul>
                </div>
                <div class="grid__column-3 ss-grid__column-6">
                    <div class="footer__app--title">VỀ SHOPEE</div>
                    <ul class="footer__app--list">
                        <li><a href="" class="footer__app--item">Giới Thiệu Về Shopee Việt Nam</a></li>
                        <li><a href="" class="footer__app--item">Tuyển Dụng</a></li>
                        <li><a href="" class="footer__app--item">Điều Khoản Shopee</a></li>
                        <li><a href="" class="footer__app--item">Chính Sách Bảo Mật</a></li>
                        <li><a href="" class="footer__app--item">Chính Hãng</a></li>
                        <li><a href="" class="footer__app--item">Kênh Người Bán</a></li>
                        <li><a href="" class="footer__app--item">Flash Sales</a></li>
                        <li><a href="" class="footer__app--item">Chương Trình Tiếp Thị Liên Kết Shopee</a></li>
                        <li><a href="" class="footer__app--item">Liên Hệ Với Truyền Thông</a></li>
                    </ul>
                </div>
                <div class="grid__column-3 ss-grid__column-6">
                    <div class="footer__app--title">THEO DÕI CHÚNG TÔI TRÊN</div>
                    <ul class="footer__app--list">
                        <li>
                            <i class="fab fa-facebook-square footer__app--icon"></i>
                            <a href="" class="footer__app--item">Facebook</a>
                        </li>
                        <li>
                            <i class="fab fa-instagram-square footer__app--icon"></i>
                            <a href="" class="footer__app--item">Instagram</a>
                        </li>
                        <li>
                            <i class="fab fa-linkedin footer__app--icon"></i>
                            <a href="" class="footer__app--item">LinkedIn</a>
                        </li>
                    </ul>
                </div>
                <div class="grid__column-3 ss-grid__column-6">
                    <div class="footer__app--title">TẢI ỨNG DỤNG SHOPEE</div>
                    <div class="footer__app--download">
                        <img src="../resources/image/QRcodeShopee.png" alt="Qr-Download" class="footer__app--qrcode">
                        <div class="footer__app--link">
                            <a href="#"
                               style="background-image: url('../resources/image/ios.png'); background-repeat: no-repeat; background-size: contain;"
                               alt="IOS" class="footer__app--link-icon"></a>
                            <a href="#"
                               style="background-image: url('../resources/image/android.png'); background-repeat: no-repeat; background-size: contain;"
                               alt="Android" class="footer__app--link-icon"></a>
                            <a href="#"
                               style="background-image: url('../resources/image/appgallery.png'); background-repeat: no-repeat; background-size: contain;"
                               alt="Appgallery" class="footer__app--link-icon"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid__grow">
                <div class="footer__national">
                    <div class="copyright grid__column-4 s-grid__full-width ss-grid__full-width"
                         style="justify-content: center;">© 2021 Shopee. Tất cả các quyền được bảo lưu.
                    </div>
                    <ul class="national-area--list grid__column-8 s-grid__full-width ss-grid__full-width">
                        <div>Quốc gia & Khu vực:</div>
                        <li class="national-area--item"><a href="#">Singapore</a></li>
                        <li class="national-area--item"><a href="#">Indonesia</a></li>
                        <li class="national-area--item"><a href="#">Đài Loan</a></li>
                        <li class="national-area--item"><a href="#">Thái Lan</a></li>
                        <li class="national-area--item"><a href="#">Malaysia</a></li>
                        <li class="national-area--item"><a href="#">Việt Nam</a></li>
                        <li class="national-area--item"><a href="#">Philippines</a></li>
                        <li class="national-area--item"><a href="#">Brazil</a></li>
                        <li class="national-area--item"><a href="#">México</a></li>
                        <li class="national-area--item"><a href="#">Colombia</a></li>
                        <li class="national-area--item"><a href="#">Chile</a></li>
                        <li class="national-area--item"><a href="#">Poland</a></li>
                        <li class="national-area--item"><a href="#">Spain</a></li>
                        <li class="national-area--item"><a href="#">France</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="grid__full-width" style="background-color: #f5f5f5;">
            <div class="grid">
                <div class="grid__row company">
                    <div class="company__policy">
                        <span class="company__policy--item">CHÍNH SÁCH BẢO MẬT</span>
                        <span class="company__policy--item">QUY CHẾ HOẠT ĐỘNG</span>
                        <span class="company__policy--item">CHÍNH SÁCH VẬN CHUYỂN</span>
                        <span class="company__policy--item">CHÍNH SÁCH TRẢ HÀNG VÀ HOÀN TIỀN</span>
                    </div>
                    <p class="company-registed">© Thanh Thảo | Đình Hiếu | Việt Vũ | Phi Long</p>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>