<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Shopee Việt Nam</title>
    <link rel="stylesheet" th:href="@{/resources/css/main.css}">
    <link rel="stylesheet" th:href="@{/resources/css/base.css}">
    <link rel="stylesheet" th:href="@{/resources/css/footer.css}">
    <link rel="stylesheet" th:href="@{/resources/css/shop.css}">
    <link rel="stylesheet" th:href="@{/resources/css/cart.css}">
    <link rel="stylesheet" th:href="@{/resources/css/cart.css}">
    <link rel="stylesheet" th:href="@{/resources/css/login.css}">
    <link rel="stylesheet" th:href="@{/resources/css/register.css}">
    <link rel="stylesheet" th:href="@{/resources/css/profile.css}">
    <link rel="stylesheet" th:href="@{/resources/css/profile-address.css}">
    <link rel="shortcut icon" th:href="@{/resources/image/falvicon-shopee.png}" type="image/x-icon" `/>
    <link rel="stylesheet" th:href="@{/resources/css/content.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
          integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300;400;500;700&display=swap"
          rel="stylesheet">
    <script src="https://kit.fontawesome.com/4e9e7bbd1b.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script th:src="@{/resources/js/login.js}" defer="defer"></script>
</head>
<body>

</body>
</html>